*{ 
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    justify-content: center; 
    font-family: 'Lobster', cursive;
}
 .heading{
    color: brown;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    text-shadow: 0px 2px 4px #ffe9c5;
    margin: 70px 0;
    font-family: 'Lobster', cursive;
}
.imgdiv{
    display: flex;
    justify-content: center;
}
.imgdiv img{
    width: 400px;
    height: 300px;
}