* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.point {
  cursor: pointer;
}
h1 {
  text-align: center;
}
.main-heading {
  text-align: center;
  display: flex;
  justify-content: center;
}
.answers {
  text-align: center;
  display: flex;
  justify-content: center;
}
